.header{
    position: relative;
    top: 40px;
    /*margin: auto;*/
}
.tb{
    height: 40px;
    position: relative;
    /*top: 20px;*/
    border-color: black;
    bottom: 12px;
    cursor: pointer;
}

.input_table{
    position:relative;
}
body{
    background: url('../img/background.jpg')no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.center-align{
    text-align: center;
}

.center-img{
    margin: 0 auto;
}
.right-align{
    text-align: right;
}

.ofwhite{
    position: relative;
    top:40px;
    background: #ddd;
}

.blue{
    background: blue;
}

.tn h3{
    background: #ffffff;
}

fieldset {
    border: 1px groove #2b542c !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend{
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;

}

.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e8cb5), to(#65a9d7));
    background: -webkit-linear-gradient(top, #4e8cb5, #65a9d7);
    background: -moz-linear-gradient(top, #4e8cb5, #65a9d7);
    background: -ms-linear-gradient(top, #4e8cb5, #65a9d7);
    background: -o-linear-gradient(top, #4e8cb5, #65a9d7);
    padding: 7px 14px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 15px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}